body {
    margin: 0;
    font-family: sans-serif;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;
    padding: 10px;
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}